@font-face {
	font-family: "Flaticon";
	src: url("fonts/Flaticon.html") format("woff"), url("fonts/Flaticon-2.html") format("truetype"), url("fonts/Flaticon-3.html#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: "Flaticon";
		src: url("Flaticon.html#Flaticon") format("svg");
	}
}

.fi:before {
	display: inline-block;
	font-family: "Flaticon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.flaticon-001-pottery:before {
	content: "\f100";
}

.flaticon-002-teapot:before {
	content: "\f101";
}

.flaticon-003-picture:before {
	content: "\f102";
}

.flaticon-004-statue:before {
	content: "\f103";
}

.flaticon-005-oven:before {
	content: "\f104";
}

.flaticon-006-column:before {
	content: "\f105";
}

.flaticon-007-clay-crafting:before {
	content: "\f106";
}

.flaticon-008-carving:before {
	content: "\f107";
}

.flaticon-009-artist:before {
	content: "\f108";
}

.flaticon-010-museum:before {
	content: "\f109";
}

.flaticon-011-pottery-1:before {
	content: "\f10a";
}

.flaticon-012-pottery-2:before {
	content: "\f10b";
}

.flaticon-013-knife:before {
	content: "\f10c";
}

.flaticon-014-painting:before {
	content: "\f10d";
}

.flaticon-015-tiles:before {
	content: "\f10e";
}

.flaticon-016-carving-1:before {
	content: "\f10f";
}

.flaticon-017-pot:before {
	content: "\f110";
}

.flaticon-018-vases:before {
	content: "\f111";
}

.flaticon-019-spatula:before {
	content: "\f112";
}

.flaticon-020-sculpture:before {
	content: "\f113";
}

.flaticon-021-pot-1:before {
	content: "\f114";
}

.flaticon-022-pottery-3:before {
	content: "\f115";
}

.flaticon-023-pottery-4:before {
	content: "\f116";
}

.flaticon-024-palette:before {
	content: "\f117";
}

.flaticon-025-eye:before {
	content: "\f118";
}

.flaticon-026-sponge:before {
	content: "\f119";
}

.flaticon-027-spray:before {
	content: "\f11a";
}

.flaticon-028-stand:before {
	content: "\f11b";
}

.flaticon-029-pencil:before {
	content: "\f11c";
}

.flaticon-030-statue-1:before {
	content: "\f11d";
}

.flaticon-031-dish:before {
	content: "\f11e";
}

.flaticon-032-pottery-5:before {
	content: "\f11f";
}

.flaticon-033-canvas:before {
	content: "\f120";
}

.flaticon-034-pencil-1:before {
	content: "\f121";
}

.flaticon-035-apron:before {
	content: "\f122";
}

.flaticon-036-crayon:before {
	content: "\f123";
}

.flaticon-037-tool:before {
	content: "\f124";
}

.flaticon-038-wire:before {
	content: "\f125";
}

.flaticon-039-sculpture-1:before {
	content: "\f126";
}

.flaticon-040-ceramics:before {
	content: "\f127";
}

.flaticon-041-wheel:before {
	content: "\f128";
}

.flaticon-042-rolling-pin:before {
	content: "\f129";
}

.flaticon-043-statue-2:before {
	content: "\f12a";
}

.flaticon-044-museum-1:before {
	content: "\f12b";
}

.flaticon-045-paint-roller:before {
	content: "\f12c";
}

.flaticon-046-brush:before {
	content: "\f12d";
}

.flaticon-047-drying:before {
	content: "\f12e";
}

.flaticon-048-mug:before {
	content: "\f12f";
}

.flaticon-049-pottery-6:before {
	content: "\f130";
}

.flaticon-050-paint-bucket:before {
	content: "\f131";
}

@font-face {
	font-family: "icomoon";
	src: url("fonts/icomoon5b10.html?h7kkm8") format("truetype"), url("fonts/icomoon5b10-2.html?h7kkm8") format("woff"), url("fonts/icomoon5b10-3.html?h7kkm8#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icomoon-"],
[class*=" icomoon-"] {
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-user:before {
	content: "\e90c";
}

.icomoon-layers:before {
	content: "\e90d";
}

.icomoon-breifcase:before {
	content: "\e90e";
}

.icomoon-smiley:before {
	content: "\e90f";
}

.icomoon-share:before {
	content: "\e909";
}

.icomoon-download:before {
	content: "\e90a";
}

.icomoon-resize:before {
	content: "\e90b";
}

.icomoon-UpCircle:before {
	content: "\e905";
}

.icomoon-leftCircle:before {
	content: "\e906";
}

.icomoon-downCircle:before {
	content: "\e907";
}

.icomoon-rightCircle:before {
	content: "\e908";
}

.icomoon-arrowCircleDown:before {
	content: "\e900";
}

.icomoon-arrowCircleRight:before {
	content: "\e901";
}

.icomoon-arrowCircleUp:before {
	content: "\e902";
}

.icomoon-arrowCircleLeft:before {
	content: "\e903";
}

.icomoon-search:before {
	content: "\e904";
}

.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	left: 0;
	top: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	content: "";
	display: table;
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}